logs/
*.translation-cache.jsonl
.DS_Store
__pycache__/
*.pyc
/build/
reports/pdf/*.aux
reports/pdf/*.log
reports/pdf/*.out
reports/pdf/*.toc
slides/*.aux
slides/*.log
slides/*.nav
slides/*.out
slides/*.snm
slides/*.toc
slides/*.vrb
reports/pdf/build_*/
